body {
  width: 100%; /* Définit une largeur à 100% de la fenêtre du navigateur */
  overflow-x: hidden; /* Masque la barre de défilement horizontale */
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(36, 36, 36));
  background-repeat: no-repeat;
}

.page-link{
  width:65vw;
  height: 36vw;
  background-color: blueviolet;
  position:absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left:200%;
  border-radius: 30px;
  padding: 1%;
  transition-property: right top;
  transition-duration: 1.5s;
  box-shadow: 10px 10px 10px;
  z-index: 0;
}

#leftButton{
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 50%;
  transform: translate(-50%,-50%);
  left:17.5%;
  background-image: url(./leftbutton.png); 
}

#rightButton{
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 50%;
  transform: translate(50%,-50%);
  right:17.5%;
  background-image: url(./rightbutton.png); 
}

#content{
  margin-left: auto;
  margin-right: auto;
}

#page0{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 120%;
}

button {
  background-size: cover;
  width: 4vw; 
  height: 4vw;
  border-radius: 50%;
  border-width: 5px;
}
