.body{
    width: 100%;
}

.row{
    width: 100%;
    height: 80vh;

}

.right, .left{
    padding: 4%;
}

.right{
    width: 50%;
    float: right;
}

.left{
    width: 50%;
    float: left;
}

img{
    width: 60%;
}