.body{
    width: 100%;
    overflow-y: hidden;
}

.row{
    width: 100%;
    display: block;
    border: solid rgba(0,0,0,0) 1px;
    margin-top: 10%;
    float: right;
}

.right{
    float: right;
    padding-right: 5%;
}

.left{
    float: left;
    padding-right: 4%;
}

img{
    display: block;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    z-index: -2;
}

h1{
    text-decoration: underline;
    font-size: 300%;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}

.right, .left, h1{
    padding-left: 6%;
}

.large{
    width: 65%;
}

.small{
    width: 35%;
}

.medium{
    width:50%;
}

.barre,
.cercle {
    background-color: cyan;
    position: relative;
    left: 50%;
    z-index: -1;
}
@media (max-width: 1400px) {
.barre {
    width: 10px;
    height: 610vh;
    margin-top: -8.5vh;
}

.cercle {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: absolute;
    left: 50.6%;
    transform: translateX(-50%);
    top: 65%;
}
.cercle:nth-child(1) { top: 7%; }
.cercle:nth-child(2) { top: 15.5%; }
.cercle:nth-child(3) { top: 24%; }
.cercle:nth-child(4) { top: 32.5%; }
.cercle:nth-child(5) { top: 41%; }
.cercle:nth-child(6) { top: 49.6%; }
.cercle:nth-child(7) { top: 58.5%; }
.cercle:nth-child(8) { top: 66.5%; }
.cercle:nth-child(9) { top: 75%; }
.cercle:nth-child(10) { top: 84%; }
.cercle:nth-child(11) { top: 91.5%; }
.cercle:nth-child(12) { top: 99%; }
}

@media (min-width: 2000px) {
    .barre {
        width: 10px;
        height: 570vh;
        margin-top: -8vh;
    }
    
    .cercle {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        position: absolute;
        left: 50.6%;
        transform: translateX(-50%);
        top: 65%;
    }
    .cercle:nth-child(1) { top: 7%; }
    .cercle:nth-child(2) { top: 15.5%; }
    .cercle:nth-child(3) { top: 24%; }
    .cercle:nth-child(4) { top: 32.5%; }
    .cercle:nth-child(5) { top: 41%; }
    .cercle:nth-child(6) { top: 49.6%; }
    .cercle:nth-child(7) { top: 58.5%; }
    .cercle:nth-child(8) { top: 66.5%; }
    .cercle:nth-child(9) { top: 75%; }
    .cercle:nth-child(10) { top: 84%; }
    .cercle:nth-child(11) { top: 91.5%; }
    .cercle:nth-child(12) { top: 99%; }
    

}
