.body{
    width: 100%;
}

.row{
    width: 100%;
    display: block;
    border: solid rgba(0,0,0,0) 1px;
    margin-top: 10%;
    float: right;
}

.right{
    float: right;
    padding-right: 5%;
}

.left{
    float: left;
    padding-right: 4%;
}

img{
    display: block;
    width: 60%;
    margin: auto;
}

h1{
    text-decoration: underline;
    font-size: 300%;
}

.right, .left, h1{
    padding-left: 6%;
}

.large{
    width: 65%;
}

.small{
    width: 35%;
}

.medium{
    width:50%;
}
