
.flex-parent-element {
    display: flex;
    width: 75%;
    position: relative;
    left: 12.5%;

}
  
  .flex-child-element {
    flex: 1;
    margin: 10px;
    height: auto;
}
  

  .flex-child-element:first-child {
    margin-right: 25px;
}
  
.flex-child-element img{
    max-width: 100%; 
    height: auto;
}
.flex-child-element p{
    text-align: center;
}
#Title{
    text-decoration: underline;
    font-size: 300%;
    padding-top: 2%;
    margin-bottom: 6%;
    margin-left: 5%;
}
.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.text {
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

footer{
    width: 100%;
    background-color: #252525;
    color: white;
    text-align: center;
    display: block;
    border: solid rgba(0,0,0,0) 1px;
    float: right;
}
footer img {
    width: 20%;
}
