body {
  width: 100%; /* Définit une largeur à 100% de la fenêtre du navigateur */
  overflow-x: hidden; /* Masque la barre de défilement horizontale */
}

.burger-menu-btn{
    background: transparent;
    position: absolute;
    top: 3vw;
    left: 3vw;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
  }
.spin-container {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
.spin-container.active {
    transform: rotateY(180deg);
  }
.front, .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
  }
.front {
    background: linear-gradient(45deg, rgb(161, 243, 186), rgb(152, 198, 250));
    color: black;
  }
.back {
    background: linear-gradient(45deg, rgb(255, 187, 160), rgb(250, 132, 132));
    color: white;
    transform: rotateY(180deg);
  }
.bar {
    width: 50%;
    height: 4%;
    background: #333;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateZ(5px);
}

.b1 {
    transform: translate(-50%, -15px) translateZ(5px);
}

.b3 {
    transform: translate(-50%, 15px) translateZ(5px);
}

.b1.b-back {
    transform: translate(-50%, 0px) translateZ(5px) rotate(45deg);
}
.b3.b-back {
    transform: translate(-50%, 0px) translateZ(5px) rotate(-45deg);
}

.page-link{
  width:55vw;
  height: 31vw;
  background-color: blueviolet;
  position:absolute;
  transition: transform 0.6s ease-in-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%
}

.page-link.right{
  
}

#page0{
  transform: translate(-50%,-50%);
}

#page1{
  transform: translate(75%,-50%);
}

#page2{
  transform: translate(200%,-50%);
}

#page3{
  transform: translate(325%,-50%);
}

#page4{
  transform: translate(450%,-50%);
}

#leftButton{
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 50%;
  transform: translate(-50%,-50%);
  left:22%;
}

#rightButton{
  position: absolute;
  width: 4vw;
  height: 4vw;
  top: 50%;
  transform: translate(50%,-50%);
  right:22%;
}